{% extends 'base.twig' %}

{% block main %}
    <section>
        <h2>CHOISISSEZ UNE FACTION</h2>

    <a href="/race/terran"> <img src="/assets/img/logo_terran.png" alt="Terran"></img></p>
    <a href="/race/zerg">  <img src="/assets/img/logo_zerg.png" alt="Zerg"></img></p>

    </section>
    <a href="/race/protoss">  <img src="/assets/img/logo_protoss.png" alt="PROTOSS LES BEST">   </img></p>
{% endblock %}

