{% extends 'base.twig' %}


{% block main %}

{% if race == "terran" %}
<div class="grid">
    <article>
        <h2>{{ terranslug.name }}</h2>

        <div class="description">
        <h3>COMPETENCES :</h3>

            {% for ability in terranslug.abilities %}
            <dl>    
                <titre>{{ ability.name }} </titre>
                <dd> <img src="{{ability.icon}}" alt="{{ability.slug}}"></dd>           
                <dt>COST</dt>
                <dd>{{ ability.cost}}</dd>
                <dt>COST TYPE</dt>
                <dd>{{ ability.cost_type }}</dd>
                <dt>DESCRIPTION</dt>
                <dd>{{ ability.description|raw }}</dd>
                <dt>DURATION</dt>
                <dd>{{ ability.duration}}</dd>
            </dl>
            {% endfor %}
        </div>

        <div class="card">
         <h3> APPARENCE :</h3>
            <img src="{{ terranslug.avatar }}" alt="{{ terranslug.name }}" tex />
             <h3> STATISTIQUES :</h3>
            <dl> 
           
                <dt>ARMOR</dt>
                <dd>{{ terranslug.armor}}</dd>
                <dt>BUILD TIME</dt>
                <dd>{{ terranslug.build_time }}</dd>
                <dt>DAMAGE</dt>
                <dd>{{ terranslug.damage }}</dd>
                <dt>HITPOINTS</dt>
                <dd>{{ terranslug.hitpoints }}</dd>
                <dt>HOTKEY</dt>
                <dd>{{ terranslug.hotkey }}</dd>
                <dt>MAX ENERGY</dt>d
                <dd>{{ terranslug.max_energy }}</dd>
                <dt>MINERALS</dt>
                <dd>{{ terranslug.minerals }}</dd>
                <dt>RANGE</dt>
                <dd>{{ terranslug.range }}</dd>
                <dt>SIGHT</dt>
                <dd>{{ terranslug.sight }}</dd>
                <dt>SPEED</dt>
                <dd>{{ terranslug.speed }}</dd>
                <dt>STARTING ENERGY</dt>
                <dd>{{ terranslug.starting_energy }}</dd>
                <dt>SUPPLY</dt>
                <dd>{{ terranslug.supply }}</dd>
                <dt>TYPE</dt>
                <dd>{{ terranslug.type }}</dd>
                <dt>VESPENE GAS</dt>
                <dd>{{ terranslug.vespene_gas }}</dd>
            </dl>
 <h3> UPGRADE :</h3>
            <dl>    
             <h3> <img src="{{terranslug.picture}}" alt="{{terranslug.slug}}"> </h3>
                <dt>BUILD TIME</dt>
                <dd>{{ terranslug.build_time }}</dd>
                <dt>MINERALS</dt>
                <dd>{{ terranslug.minerals }}</dd>
                <dt>VESPENE GAS</dt>
                <dd>{{ terranslug.vespene_gas }}</dd>
             </dl>
        </div>
    </article>

</div>

{% elseif  race == "zerg" %}
<div class="grid">
    <article>
        <h2>{{ zergslug.name }}</h2>

        <div class="description">
                <h3>COMPETENCES :</h3>
            {{ zergslug.description|markdown|raw }}

            {% for ability in zergslug.abilities %}
            <dl>    
                <titre>{{ ability.name }} </titre>
                <dd> <img src="{{ability.icon}}" alt="{{ability.slug}}"></dd>        
                <dt>COST</dt>
                <dd>{{ ability.cost}}</dd>
                <dt>COST TYPE</dt>
                <dd>{{ ability.cost_type }}</dd>
                <dt>DESCRIPTION</dt>
                <dd>{{ ability.description|raw }}</dd>
                <dt>DURATION</dt>
                <dd>{{ ability.duration}}</dd>
                <dt>SLUG</dt>
                <dd>{{ ability.slug}}</dd>
            </dl>
            {% endfor %}
        </div>


        <div class="card">
                 <h3> APPARENCE :</h3>
            <img src="{{ zergslug.avatar }}" alt="{{ zergslug.name }}" tex />
             <h3> STATISTIQUES :</h3>
            <dl> 
                <dt>ARMOR</dt>
                <dd>{{ zergslug.armor}}</dd>
                <dt>BUILD TIME</dt>
                <dd>{{ zergslug.build_time }}</dd>
                <dt>DAMAGE</dt>
                <dd>{{ zergslug.damage }}</dd>
                <dt>HITPOINTS</dt>
                <dd>{{ zergslug.hitpoints }}</dd>
                <dt>HOTKEY</dt>
                <dd>{{ zergslug.hotkey }}</dd>
                <dt>MAX ENERGY</dt>
                <dd>{{ zergslug.max_energy }}</dd>
                <dt>MINERALS</dt>
                <dd>{{ zergslug.minerals }}</dd>
                <dt>RANGE</dt>
                <dd>{{ zergslug.range }}</dd>
                <dt>SIGHT</dt>
                <dd>{{ zergslug.sight }}</dd>
                <dt>SPEED</dt>
                <dd>{{ zergslug.speed }}</dd>
                <dt>STARTING ENERGY</dt>
                <dd>{{ zergslug.starting_energy }}</dd>
                <dt>SUPPLY</dt>
                <dd>{{ zergslug.supply }}</dd>
                <dt>TYPE</dt>
                <dd>{{ zergslug.type }}</dd>
                <dt>VESPENE GAS</dt>
                <dd>{{ zergslug.vespene_gas }}</dd>
            </dl>

 <h3> UPGRADE :</h3>
            <dl>    
             
             <h3> <img src="{{zergslug.picture}}" alt="{{zergslug.slug}}"> </h3>
                <dt>BUILD TIME</dt>
                <dd>{{ zergslug.build_time }}</dd>
                <dt>DESCRIPTION</dt>
                <dt>MINERALS</dt>
                <dd>{{ zergslug.minerals }}</dd>
                <dt>VESPENE GAS</dt>
                <dd>{{ zergslug.vespene_gas }}</dd>
             </dl>
        </div>
    </article>
</div>
{% endif %}

{% endblock %}